### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Django ###
__pycache__
migrations

*.log
*.pyc
/venv

### Database ###
db.sqlite3
wnjpn.db

### IDE ###
/.vscode

### Environment ###
.env

### Windows ###
Thumbs.db
ehthumbs.db
