<!DOCTYPE html>
<html lang="en">
<head>
  <title>JP WordNet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .empty {
      border: solid 2px red;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    function getWordnet() {
      if (!$('#word').val()) {
        $('#word').addClass("empty");
      } else {
        $('#word').removeClass("empty");
        $.ajax({
          type: 'GET',
          dataType: 'json',
          url: "http://127.0.0.1:8000/words/" + $('#word').val(),
          success: function(data) {
            // console.log(data);
            $('#json_res').html(JSON.stringify(data, undefined, 2));
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#ans').text(`${textStatus}`);
          },
        });
      }
    }

    $(document).ready(function() {
      $('#getdata').on('click', getWordnet);
    });
  </script>
</head>
<body>
  <div>
    <button class="btn btn-success" id="getdata">
      <span class="glyphicon glyphicon-wrench"></span> Get Wordnet Data
    </button>
    <div class="form-group">
      <label for="word">Word:</label>
      <input type="text" class="form-control" id="word">
    </div>
    <hr>
    <pre id="json_res"></pre>
  </div>
</body>
</html>
